* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
}
:root {
  --verde-principal: #4CAF4F;
  --verde-secundario: #28cb8b;
  --azul-destaque: #2194f3;
  --preto-principal: #263238;

  --cinza-escuro: #4d4d4d;
  --cinza-medio: #717171;
  --cinza-claro: #89939e;
  --cinza-azulado: #abbed1;
  --cinza-fundo: #f5f7fa;
  --branco: #ffffff;
}

/* Fontes */
h1 {
  font-size: 64px;
  font-weight: 600;
}

h2 {
  font-size: 36px;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}
