
/* Container padrão */
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Cabeçalho */
header {
  background-color: var(--branco);
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LogoNexcent {
  width: 154px;
  height: 24px;
}

/* Navegação */
nav {
  display: flex;
  gap: 50px;
}

nav a {
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--verde-secundario);
}

/* Botões */
.btn {
  display: flex;
  gap: 16px;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.login {
  background-color: transparent;
  color: var(--verde-principal);
  border: 2px solid var(--verde-secundario);
}

.login:hover {
  background-color: var(--verde-principal);
  color:var(--branco);
}

.signup {
  background-color: var(--verde-principal);
  color:var(--branco:);
}

.signup:hover {
  background-color: var(--verde-secundario);
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 80px 0;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  line-height: 1.2;
}

.hero-text .span1 {
  font-size: 64px;
  color: var(--cor-0);
}

.hero-text .span2 {
  font-size: 16px;
  color: #555;
  font-weight: 400;
  display: block;
}

.hero img {
  width: 391px;
  height: auto;
  flex-shrink: 0;
}
